#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: brown; */
}

body.swal2-shown {
  overflow-y: auto !important;
  padding-right: 0 !important;
}

body{
  margin: 0;
}
